<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/15fcde597c.js" crossorigin="anonymous"></>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<!--......................................................................................................................................-->
                            
    <!--FLASK USE IN HERE-->

    <script type='text/javascript' src="{{url_for('static', filename='script/script.js')}}"></script>
<!--....................................................................................................................................-->

    <title>BLF - Find your dream house</title>
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

<!--......................................................................................................................................-->
                            
    <!--FLASK USE IN HERE-->

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    


<!--....................................................................................................................................-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <!---#HEADER-->

    <header class="header" data-header>
        <div class="overlay" data-overlay></div>
        <!-- <div class="header-top">
            <div class="container">

                <div class="wrapper">

                </div>

            </div>
        </div> -->
        <div class="header-bottom">
            <div class="container">
                <a href="#" class="logo">

<!--......................................................................................................................................-->
                            
                            <!--FLASK USE IN HERE-->

                    <img src="{{url_for('static', filename='images/logo2.jpg')}}" alt="BLF_logo">

<!--.....................................................................................................................................-->
                </a>
                <nav class="navbar" data-navbar>
                    <div class="navbar-top">
                        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>
                    </div>
                    <div class="navbar-bottom">
                        <ul class="navbar-list">
                            <li>
                                <a href="#home" class="navbar-link" data-nav-link>Home</a>
                            </li>
                            <li>
                                <a href="#about" class="navbar-link" data-nav-link>About</a>
                            </li>
                            <li>
                                <a href="#service" class="navbar-link" data-nav-link>Service</a>
                            </li>
                            <li>
                                <a href="#facilities" class="navbar-link" data-nav-link>Facilities</a>
                            </li>
                            <li>
                                <a href="#designer" class="navbar-link" data-nav-link>designer</a>
                            </li>
                            <li>
                                <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="header-bottom-actions">
                    <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
                        <ion-icon name="menu-outline"></ion-icon>
                        <span>Menu</span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <main>
        <article>
            <!----video section-->
            <section id="video">
                <video id="video-back" autoplay muted loop>

<!--......................................................................................................................................-->
                            
                            <!--FLASK USE IN HERE-->

                    <source src="{{ url_for('static', filename="back_video.mp4") }}" type="video/mp4">

<!--.....................................................................................................................................-->
                </video>
            </section>

            <!-- - #HERO-->
            <section class="hero" id="home">
                <div class="container">
                    <div class="hero-content">
                        <p class="hero-subtitle">
                            <ion-icon name="home"></ion-icon>
                            <span><b>BLF</b> Real Estate Agency</span>
                        </p>
                        <h2 class="h1 hero-title"><strong>Need a Dream House?</strong></h2>
                        <p class="hero-text">
                            The descendents of Emperor Ahibaran were called Baranwal.
                            With so many years of real estate investment, development, and
                            management experience, BLF has an unparalleled scale of delivery.
                        </p>
                        <button class="btn" onclick="location.href='/house'">Make An Enquiry</button>
                    </div>
                    <figure class="hero-banner">
                    </figure>
                </div>
            </section>

            <!---#ABOUT-->

            <section class="about" id="about">
                <div class="container">
                    <figure class="about-banner">

<!--......................................................................................................................................-->
                            
                            <!--FLASK USE IN HERE-->

                        <img src="{{url_for('static', filename='images/houseinterior.jpg')}}" alt="House interior">
                        <!--<img src="sofaimg.jpg" alt="House interior" class="abs-img">-->

<!--......................................................................................................................................-->

                    </figure>
                    <div class="about-content">
                        <p class="section-subtitle">About Us</p>
                        <h2 class="h2 section-title">The Leading Real Estate Rental Marketplace.</h2>
                        <p class="about-text">
                            Founded in 2015 by <em><b>Shreya Barnwal</b></em>, and Co-founder <em><b>Piyush
                                    Raj.</b></em>
                            Though,BLF started with the creation of 22 urban colonies in Dhanbad. In 2019, the company
                            expanded into the
                            then-unknown region of Deoghar, creating exceptional living and working spaces for the new
                            Indian global professionals.
                        </p>
                        <ul class="about-list">
                            <li class="about-item">
                                <div class="about-item-icon">
                                    <ion-icon name="home-outline"></ion-icon>
                                </div>
                                <p class="about-item-text">Smart Home Design</p>
                            </li>
                            <li class="about-item">
                                <div class="about-item-icon">
                                    <ion-icon name="leaf-outline"></ion-icon>
                                </div>
                                <p class="about-item-text">Beautiful Scene Around</p>
                            </li>
                            <li class="about-item">
                                <div class="about-item-icon">
                                    <ion-icon name="wine-outline"></ion-icon>
                                </div>
                                <p class="about-item-text">Exceptional Lifestyle</p>
                            </li>
                            <li class="about-item">
                                <div class="about-item-icon">
                                    <ion-icon name="shield-checkmark-outline"></ion-icon>
                                </div>
                                <p class="about-item-text">Complete 24/7 Security</p>
                            </li>
                        </ul>
                        <p class="callout">
                            Today, BLF is the largest publicly listed real estate company in India,
                            with residential, commercial, and retail properties in 15 states and 24 cities.
                            <b>Special Thanks to Didhiti Roy and Sumedha Chakraborty.</b>
                        </p>
                        <a href="#service" class="btn">Our Services</a>
                    </div>
                </div>
            </section>

            <!--- #SERVICE-->

            <section class="service" id="service">
                <div class="container">
                    <p class="section-subtitle">Our Services</p>
                    <h2 class="h2 section-title">Our Main Focus</h2>
                    <ul class="service-list">
                        <li>
                            <div class="service-card">
                                <div class="card-icon">
<!--......................................................................................................................................-->
                            
                            <!--FLASK USE IN HERE-->

                                    <img src="{{url_for('static', filename='images/service-1.jpg')}}" alt="Service icon">

<!--.....................................................................................................................................-->
                                </div>

                                <h3 class="h3 card-title">
                                    <a href="#">Buy a home</a>
                                </h3>

                                <p class="card-text">
                                    over 1 million+ homes for sale available on the website, we can match you with a
                                    house you will want
                                    to call home.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="service-card">
                                <div class="card-icon">

<!--......................................................................................................................................-->
                            
                            <!--FLASK USE IN HERE-->

                                    <img src="{{url_for('static', filename='images/service-2.jpg')}}" alt="Service icon">

<!--....................................................................................................................................-->
                                </div>

                                <h3 class="h3 card-title">
                                    <a href="#">Rent a home</a>
                                </h3>

                                <p class="card-text">
                                    over 1 million+ homes for sale available on the website, we can match you with a
                                    house you will want
                                    to call home.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="service-card">
                                <div class="card-icon">

<!--......................................................................................................................................-->
                            
                                    <!--FLASK USE IN HERE-->

                                    <img src="{{url_for('static', filename='images/service-3.jpg')}}" alt="Service icon">

<!--......................................................................................................................................-->
                                </div>

                                <h3 class="h3 card-title">
                                    <a href="#">Sell a home</a>
                                </h3>
                                <p class="card-text">
                                    over 1 million+ homes for sale available on the website, we can match you with a
                                    house you will want
                                    to call home.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- - #facilities-->
            <section class="facilities" id="facilities">
                <div class="container">

                    <p class="section-subtitle">Our Facilities</p>

                    <h2 class="h2 section-title">Building Facilities</h2>

                    <ul class="facilities-list">

                        <li>
                            <a href="#" class="facilities-card">
                                <div class="card-icon">
                                    <ion-icon name="car-sport-outline"></ion-icon>
                                </div>
                                <h3 class="card-title">Parking Space</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="facilities-card">
                                <div class="card-icon">
                                    <ion-icon name="water-outline"></ion-icon>
                                </div>
                                <h3 class="card-title">Swimming Pool</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="facilities-card">
                                <div class="card-icon">
                                    <ion-icon name="shield-checkmark-outline"></ion-icon>
                                </div>
                                <h3 class="card-title">Private Security</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="facilities-card">
                                <div class="card-icon">
                                    <ion-icon name="bed-outline"></ion-icon>
                                </div>
                                <h3 class="card-title">Medical Center</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="facilities-card">
                                <div class="card-icon">
                                    <ion-icon name="library-outline"></ion-icon>
                                </div>
                                <h3 class="card-title">Library Area</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="facilities-card">
                                <div class="card-icon">
                                    <ion-icon name="fitness-outline"></ion-icon>
                                </div>
                                <h3 class="card-title">Gym</h3>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="facilities-card">

                                <div class="card-icon">
                                    <ion-icon name="home-outline"></ion-icon>
                                </div>

                                <h3 class="card-title">Smart Homes</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="facilities-card">
                                <div class="card-icon">
                                    <ion-icon name="football-outline"></ion-icon>
                                </div>
                                <h3 class="card-title">Kid’s Playland</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <!--- #designer -->
            <div class="designer-top">
                <p class="section-subtitle" >Our designers</p>
                <h2 class="h2 section-title">Website Implementer</h2>
            </div>
            <section class="designer" id="designer">
                <div class="designer-container">
                    <div class="designer-pic pic1">

                    </div>
                    <div class="designer-name">
                        <p><strong>Shreya Barnwal</strong>
                            <br><b>Role: </b>Frontend Developer <br> (Using HTML, CSS, JS)
                        </p>
                    </div>
                </div>
                <div class="designer-container">
                    <div class="designer-pic pic2">

                    </div>
                    <div class="designer-name">
                        <p><strong>Didhiti Roy</strong>
                            <br><b>Role:</b>Backend Developer <br> (Using Flask)
                        </p>
                    </div>
                </div>
                <div class="designer-container">
                    <div class="designer-pic pic3">

                    </div>
                    <div class="designer-name">
                        <p><strong>Piyush Raj</strong>
                            <br><b>Role: </b>Machine Learning
                        </p>
                    </div>
                </div>
                <div class="designer-container">
                    <div class="designer-pic pic4">

                    </div>
                    <div class="designer-name">
                        <p><strong>Sumedha Chakraborty</strong>
                            <br><b>Role: </b>Cloud <br> (Using Microsoft Azure)
                        </p>
                    </div>
                </div>
            </section>

            <!---#Contact---->
            <section class="contact">
                <div id="contact">
                    <div class="container">
                        <div class="row">
                            <div class="contact-left">
                                <p class="section-subtitle">Contact Us</p>
                            </div>
                            <div class="contact-right">


<!--....................................................................................................................................-->
                                <!--USE FLASK IN HERE-->

                                <!--When a message is flashed in Flask using the flash() function, it is stored in a temporary storage that can be accessed by the get_flashed_messages() function. This function retrieves all the messages stored in the temporary storage and returns them as a list.-->

                                {% with messages = get_flashed_messages() %}   
                                
                                <!--with statement to assign the result of get_flashed_messages() to a variable called messages.
                                    it checks whether the messages variable is not empty-->

                                    {% if messages %}
                                        <ul class="flashes">

                                        <!-- If messages is not empty, it loops through each message in messages and displays it as a list item (<li> tag) on the webpage.-->
                                        
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}

                                <!--This code block is using the Jinja2 template engine syntax in a Flask application to display flashed messages on a webpage.This code block is typically included in an HTML template that is rendered by a Flask view function. It allows for displaying flash messages on a webpage after certain events (e.g. form submission, login/logout) occur in the Flask application.-->


                                <form name="submit-to-google-sheet" action="{{ url_for('submit_form') }}" method="post"> 

                                <!--url_for() function to generate the URL for the form submission and add it to the form's action attribute.-->
                               
                                

                                <!--USE FLASK UPTO THAT FOR THAT SECTION-->

<!--....................................................................................................................................-->

                                    <input type="text" name="name" placeholder="Your name" required>
                                    <input type="email" name="email" placeholder="Your email" required>
                                    <textarea name="message" rows="6" placeholder="Your message"></textarea>
                                    <button type="submit" class="bttn bttn2 ">Submit</button>
                                </form>
                                <span id="msg"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--- #CTA-->
            <section class="cta">
                <div class="container">
                    <div class="cta-card">
                        <div class="card-content">
                            <h2 class="h2 card-title">Looking for a dream home?</h2>
                            <p class="card-text">We can help you realize your dream of a new home</p>
                        </div>
                        <button class="btn cta-btn">
                            <span>Explore Properties</span>
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </button>
                    </div>
                </div>
            </section>

            <!--- #FOOTER-->

            <footer class="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="footer-brand">
                            <a href="#" class="logo">

<!--......................................................................................................................................-->
                            
                            <!--FLASK USE IN HERE-->

                                <img src="{{url_for('static', filename='images/logo4.jpg')}}" id="white-logo" alt="BLF_logo">

<!--.....................................................................................................................................-->
                            </a>
                            <p class="section-text">
                                Who We Are
                                Chairman's Message
                                Leadership
                                Sustainability
                                BLF Foundation Projects
                            </p>
                            <ul class="contact-list">
                                <li>
                                    <a href="#" class="contact-link">
                                        <ion-icon name="location-outline"></ion-icon>
                                        <address>Tower-C, BLF IT Park, Newtown, Kolkata</address>
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:+0123456789" class="contact-link">
                                        <ion-icon name="call-outline"></ion-icon>
                                        <span>+91 6206738318</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:infoBLF@123.com" class="contact-link">
                                        <ion-icon name="mail-outline"></ion-icon>
                                        <span>infoBLF@123.com / roydidhiti26@gmail.com</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="social-list">
                                <li>
                                    <a href="#" class="social-link">
                                        <ion-icon name="logo-facebook"></ion-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-link">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-link">
                                        <ion-icon name="logo-linkedin"></ion-icon>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-link">
                                        <ion-icon name="logo-youtube"></ion-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-link-box">
                            <ul class="footer-list">
                                <li>
                                    <a href="#" class="footer-link">About</a>
                                </li>
                                <li>
                                    <a href="#" class="footer-link">designer</a>
                                </li>
                                <li>
                                    <a href="#" class="footer-link">Locations Map</a>
                                </li>
                                <li>
                                    <a href="#" class="footer-link">FAQ</a>
                                </li>
                                <li>
                                    <a href="#" class="footer-link">Contact us</a>
                                </li>
                            </ul>
                            <ul class="footer-list">
                                <li>
                                    <p class="footer-list-title">Services</p>
                                </li>
                                <li>
                                    <a href="#" class="footer-link">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="#" class="footer-link">Promotional Offers</a>
                                </li>
                            </ul>
                            <ul class="footer-list">
                                <li>
                                    <p class="footer-list-title">Customer Care</p>
                                </li>
                                <li>
                                    <a href="#" class="footer-link">FAQ</a>
                                </li>
                                <li>
                                    <a href="#" class="footer-link">Contact us</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <p class="copyright">
                            &copy; 2023 <a href="#">Barnwal Land and Finance</a>. All Rights Reserved
                        </p>
                    </div>
                </div>
            </footer>

            
            
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>